@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #000000;
    overflow-x: hidden;


}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 204vh;
}
.main-left{
     padding-left: 150px;
     padding-top: 190px;
     max-width: 70%;

}
.main-left img {
    width: 10rem;
}
.main-left h1{
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    margin-top: 20px;
}
.main-left span{
    color:#E2181A;
}
.main-left p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}
.main-left button{
    width: 18rem;
    height: 3rem;
    margin-top: 20px;
    background: #B01316;
    border-radius: 4px;
    color: #ffffff;    

}
.main-left button:hover{
 opacity: 0.7;
 cursor: pointer;
}

.main-right{
    width: 50rem;
    margin-top: 3rem; 
  

}
.main-right .fundo{
    background-image: url(./img/fundo-atras.png);
    background-size: cover;

}
.main-right img{
    width: 25rem;
    
}
.sect-one{
    background: #0C0B0B;
    border-top:2px solid #E2181A ;
    border-bottom:2px solid #E2181A ;
    height: 20rem;
   
    
}
.sect-one h2{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-top: 3rem;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 60px 180px 0px 180px;
}
.sect-one .div-sect{
    text-align: center;
    width: 12rem;

}
.div-sect img{
    cursor: pointer;
}
.div-sect a span{
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.div-sect a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.sect-two{
    border-bottom:2px solid #E2181A ;
}
.div-two{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 60px;
}
.div-two .sect-left{
    color: #ffffff;
    max-width: 70vh;
    

}
.div-two h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.sect-left p{
  
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sect-left .h4-post{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.sect-left h4{
    font-weight: 800;
    font-size: 16px;


}
.sect-left span{
   color: #E2181A;
   font-weight: 800;
   font-size: 25px;
}
.sect-right{
text-align: center;
}
.sect-right .luz{
    position: absolute;
    margin-left: -700px;
    z-index: -1;
}
.sect-three{
    width: 100%;
    height: 40rem;
    
}
.div-three{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    text-align: center;
    padding-left: 150px;
   
}
.div-three .box{
    background-color:#0C0B0B;
    min-width: 30rem;
    min-height: 25rem;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid #E2181A;
    padding: 20px;
}
.box h5{
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
}
.box p{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
margin-top: 17px;
}
.box span{
    color: #E2181A;
    font-weight: 800;
}
.box .value .row{
    color: #ffffff;
    font-size: 15px;
}
.box .buy{
    font-size:24px;
}
.box .buy .row-two{
    color: #E2181A;
    font-size: 25px;

}
.box button{
    width: 18rem;
    height: 2.5rem;
    background-color: #B01316;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 800px;
}
.box button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.right{
    padding-top: 100px;
    text-align: center;
}
.right img{
    width: 11rem;
}
.right p{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 90px 0px 90px;
    margin-top: 10px;
}